:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
    background-color: rgb(52, 18, 10);
}

title {display: hidden;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.1fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 5px ;
    color: black;
    font-size: larger;
    justify-content: center;
    
}
 #photos {
   
 }

 img{
    margin-left: 55px;
    border-radius: 5px;
    
 }

h1 {
    background: transparent;  
    text-align: center;
}

h2 {
    background: transparent;  
    text-align: center;
    font-size: large;
}
h3 {
    background: transparent;  
    text-align: center;
    font-size: larger;
}

h4 {
    
    background: transparent;  
    text-align: left;
    font-size: 50px;
    margin: 10px;
    
}

nav { 
    display: flex;
    background-color: slategray; 
    grid-area: nav;
    justify-content: space-around; 
}

 p {
    background: transparent;  
    text-align: center;
    padding: 0 3px 0 3px;
    justify-content: center;
 }

a {
    background: transparent;
    margin: 20px 20px 0px 20px;
}

main {
    background-color: darkslategray;
    grid-area: main;
}

#sidebar {
    background-color: lightblue;
    grid-area: sidebar;
    justify-content: center;

}

ul {
    background: transparent;

}

li {
    background: transparent;
}
#content1 {
    background-color: #dd6e42;
    grid-area: content1;
}

#content2 {
    background-color: #dd6e42;
    grid-area: content2;
    
}

#content3 {
    background-color: #dd6e42;
    grid-area: content3;
}

footer {
    
    background-color: teal;
    grid-area: footer;
   
}

#footer {
  align-items: space-around;
}

section {
    background: transparent;
    text-align: center;
    
}

.sidebar {
 align-content: center;

}
.button{
    
    height: 75px;
    width: 75px;
    background-color: #dd6e42; 
    border-radius: 5px;
    border-color: whitesmoke;
    

}
.button1{
    
    height: 25px;
    width: fit-content;
    background-color: #dd6e42; 
    border-radius: 5px;
    border-color: whitesmoke;
    

}



@media only screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 2.0fr 1.0fr 1fr 1fr 1.4fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}