* {
    background-color: lavender;
}

title {display: hidden;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.1fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 7px ;
    color: black;
    font-size: larger;
    justify-content: center;
    
}

img {
    position: ;
}

h1 {
    background: transparent;  
    text-align: center;
}

h2 {
    background: transparent;  
    text-align: center;
    font-size: large;
}
h3 {
    background: transparent;  
    text-align: center;
    font-size: larger;
}

h4 {
    background: transparent;  
    text-align: left;
    font-size:larger;
    
}

nav { 
    background-color: slategray; 
    grid-area: nav;
    
}
 p {
    background: transparent;  
    text-align: center;
    padding: 0 3px 0 3px;
 }


.button{
    position: space-around; 
    height: 50%;
    background-color: #dd6e42; 
    border-radius: 5px;

}
a{
    background: transparent;
}
section {
    background: transparent;
    height: fit-content;
    align-content: center;
}

main {
    background-color: darkslategray;
    grid-area: main;
}

#sidebar {
    background-color: lightblue;
    grid-area: sidebar;

}

ul {
    background: transparent;

}

li {
    background: transparent;
}
#content1 {
    background-color: #dd6e42;
    grid-area: content1;
}

#content2 {
    background-color: #dd6e42;
    grid-area: content2;
    
}

#content3 {
    background-color: #dd6e42;
    grid-area: content3;
}

footer {
    background-color: teal;
    grid-area: footer;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 2.0fr 1.0fr 1fr 1fr 1.4fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}